/* universal css */
* {
    margin-bottom: 0px;
    margin-right: 0px;

}





/*  common shared styles*/
body {

    font-family: 'Open Sans', sans-serif;
}

header>nav>h3 {
    color: #181818;

    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.btn-primary {
    border: none;
    border-radius: 10px;
    background: #FD6E0A;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;
    color: white;

}

.btn-primary:hover {
    background: #311501;
    color: white;

}

/* nav releted styles*/
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.marry {
    color: #FD6E0A;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;

}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header related style */
.header {



    background-image: url('/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    justify-content: space-between;
}

.banner .profile-picture {
    width: 500px;
}

.banner-g {
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}

.banner-t {
    font-size: 85px;

    font-weight: 700;
    margin-top: 5px;

}

.down {
    margin-top: 5px;
}

.banner-c {
    width: 500px;
}

/* about section style */
.about {
    padding: 130px;
    
 margin: 130px 0px;
    
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.section-des {
    
    text-align: center;
    color: var(--dark-03, #757575);
    text-align: center;
    
    font-size: 18px;
    
    font-weight: 400;
   

}